<!DOCTYPE HTML>

<html>

<head>
	<title>JooyIn---揪團</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />

</head>

<body>
	<!-- Wrapper -->
	<div id="wrapper">
		<div id="main">
			<div class="inner">
				<header id="header">
					<a href="homePage" class="logo"><strong>JooyIn</strong> 揪運</a>
					<section id="search" class="alt">
						<form method="post" action="#">
							<input type="text" name="query" id="query" placeholder="Search" />
						</form>
					</section>

					<ul class="icons">
						<li><a href="#" class=""><span class="label">揪團</span></a></li>
						<li><a href="#" class=""><span class="label">個人資訊</span></a></li>
						<% if(nickname && logined) {%>
						<li><a href="/loginPage/signout" class=""><span class="label">登出</span></a></li>
						<% }else {%>
						<li><a href="loginPage" class=""><span class="label">登入</span></a></li>
						<% } %>
					</ul>
				</header>
				<!-- Banner -->
				<% if(page==1) {%>
				<section id="banner">
				
					<div class="content">
						<header>
							<h1><br>新增揪團</h1>
							<p>想運動卻找不到夥伴嗎？<br> 點擊加號輸入運動、地點和時間，馬上揪運吧！
							</p>
						</header>
						<p></p>
						<ul class="actions">
							<li><a href="homePage" class="button big">Learn More</a></li>
						</ul>
					</div>
					<span class="image object">
							<a href="newgroup"><img src="images/add2.png" alt="" /></a>
					<span>
					
				</section>
				<% } %>
				<!-- 主頁 -->
				<section>
					<header class="major">
						<h2>參加揪團 一起運動囉！</h2>
					</header>

					<div class="posts">
						<% for ( var i = 0  ; i <data.length ; i++){ %>
							<article>

								<a href="/insidegroup?group_id=<%= data[i].id %>" class="image"><img src="images/<%= data[i].sports_category%>.jpg" alt="" />
								</a>
								<h3><%= data[i].group_name  %></h3>
								<p>起始時間:<%= data[i].start_datetime  %></p>
								<p>結束時間:<%= data[i].end_datetime  %></p>
								<ul class="actions">
									<li><a href="/insidegroup?group_id=<%= data[i].id %>" class="button">Join!</a></li>
									<li><a href="/insidegroup?group_id=<%= data[i].id %>" class="button">Save</a></li>
								</ul>
							</article>
						<% } %>
					</div>
				</section>
				<ul class="pagination">
					<li><span class="button disabled">Prev</span></li>
					<% for ( var i = 1  ; i <datalength/4 + 1 ; i++){ %>					
					<% if(i == page) {%>
					<li><a href="/maingroup?page=<%= i %>" class="page active"><%= i %></a></li>
					<% }else{ %>
					<li><a href="/maingroup?page=<%= i %>" class="page"><%= i %></a></li>
					<% } %>
					
					<% } %>
					<li><a href="#" class="button">Next</a></li>
					<!-- </ul>         -->
			</div>

			<hr>



			<footer id="footer">
				<h3 id="icons">聯絡我們</h3>
				<p id="icons"> Email:XXXXXXXXX@nccu.edu.tw Tel:XX-XXXXXXXX 地址：政治大學大仁樓</p>
				<ul class="icons" id="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
			</footer>


		</div>


		<!-- 側欄 -->
		<div id="sidebar">
			<div class="inner">
				<nav id="menu">
					<header class="major">
					<% if(nickname && logined) {%>
						<h2><%= nickname%></h2>
					<% }%>
					</header>
					<img src="images/boy.svg" />
					<p class="button big" id="percent">100%</p>
					<p class="button big" id="completetimes">34場</p>
					<br>
					<div class="box" id="futuregroup">
						<p>下個揪運：明天下午三點 河堤籃球場</p>
					</div>
					<div class="6u$ 12u$(small)">
						<ul class="actions vertical small" id="logout">
							<li><a href="homePage" class="button special small">登出</a></li>
						</ul>
					</div>
				</nav>
				<section>
					<header class="major">
						<h2>揪團選項</h2>
					</header>
					<div class="12u 12u$(small)">
						<input type="checkbox" id="interest" name="interest">
						<label for="interest">根據我喜愛的運動</label>
					</div>
					<div class="3u 12u$(small)">
						<input type="checkbox" id="all" name="all">
						<label for="all">全部</label>
					</div>
					<div class="3u 12u$(small)">
						<input type="checkbox" id="workout" name="workout">
						<label for="workout">健身</label>
					</div>
					<div class="3u 12u$(small)">
						<input type="checkbox" id="basketball" name="basketball">
						<label for="basketball">籃球</label>
					</div>
					<div class="3u 12u$(small)">
						<input type="checkbox" id="vollyball" name="vollyball">
						<label for="vollyball">排球</label>
					</div>
					<div class="3u 12u$(small)">
						<input type="checkbox" id="swim" name="swim">
						<label for="swim">游泳</label>
					</div>
					<div class="3u 12u$(small)">
						<input type="checkbox" id="jog" name="jog">
						<label for="jog">慢跑</label>
					</div>
					<div class="3u 12u$(small)">
						<input type="checkbox" id="yoga" name="yoga">
						<label for="yoga">瑜珈</label>
					</div>
					<div class="6u 12u$(small)">
						<input type="checkbox" id="bike" name="bike">
						<label for="bike">腳踏車</label>
					</div>
					<div class="3u 12u$(small)">
						<input type="checkbox" id="other" name="other">
						<label for="other">其他</label>
					</div>
				</section>
				<section>
					<header class="major">
						<h2>我參加的團</h2>
					</header>
					<div class="mini-posts">
						<article>
							<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
							<p>____揪團資訊____</p>
						</article>
						<article>
							<a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
							<p>____揪團資訊____</p>
						</article>
						<article>
							<a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
							<p>____揪團資訊____</p>
						</article>
					</div>
					<ul class="actions">
						<li><a href="#" class="button">More</a></li>
					</ul>
				</section>
			</div>
		</div>

	</div>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>
