<!-- 側欄 -->
<div id="sidebar">
	<div class="inner">
		<nav id="menu">
			<header class="major">
				<% if(nickname && logined) {%>
					<h2>
						<%= nickname%>
					</h2>
					<% }%>
			</header>
			<img src="images/boy.svg" />
			<p class="button big" id="percent">100%</p>
			<p class="button big" id="completetimes">34場</p>
			<br>
			<div class="box" id="futuregroup">
				<p>下個揪運：明天下午三點 河堤籃球場</p>
			</div>
			<div class="6u$ 12u$(small)">
				<ul class="actions vertical small" id="logout">
					<li><a href="/loginPage/signout" class="button special small">登出</a></li>
				</ul>
			</div>
		</nav>
		<section>
			<header class="major">
				<h2>揪團選項</h2>
			</header>
			<div class="12u 12u$(small)">
				<input type="checkbox" id="interest" name="interest">
				<label for="interest">根據我喜愛的運動</label>
			</div>
			<div class="3u 12u$(small)">
				<input type="checkbox" id="all" name="all">
				<label for="all">全部</label>
			</div>
			<div class="3u 12u$(small)">
				<input type="checkbox" id="workout" name="workout">
				<label for="workout">健身</label>
			</div>
			<div class="3u 12u$(small)">
				<input type="checkbox" id="basketball" name="basketball">
				<label for="basketball">籃球</label>
			</div>
			<div class="3u 12u$(small)">
				<input type="checkbox" id="vollyball" name="vollyball">
				<label for="vollyball">排球</label>
			</div>
			<div class="3u 12u$(small)">
				<input type="checkbox" id="swim" name="swim">
				<label for="swim">游泳</label>
			</div>
			<div class="3u 12u$(small)">
				<input type="checkbox" id="jog" name="jog">
				<label for="jog">慢跑</label>
			</div>
			<div class="3u 12u$(small)">
				<input type="checkbox" id="yoga" name="yoga">
				<label for="yoga">瑜珈</label>
			</div>
			<div class="6u 12u$(small)">
				<input type="checkbox" id="bike" name="bike">
				<label for="bike">腳踏車</label>
			</div>
			<div class="3u 12u$(small)">
				<input type="checkbox" id="other" name="other">
				<label for="other">其他</label>
			</div>
		</section>
		<section>
			<header class="major">
				<h2>我參加的團</h2>
			</header>
			<div class="mini-posts">
				<% for ( var i = 0  ; i <myGroup_data.length ; i++) { %>
					<article>
						<a href="/insidegroup?group_id=<%= myGroup_data[i].id %>" class="image"><img src="images/<%= myGroup_data[i].sports_category%>.jpg" alt="" /></a>
						<p><a href="/insidegroup?group_id=<%= myGroup_data[i].id %>"><%= myGroup_data[i].group_name  %></a></p>
						<p>sdf</p>
					</article>
				<% } %>
				
			</div>


			<ul class="actions">
				<li><a href="#" class="button">More</a></li>
			</ul>
		</section>
	</div>
</div>

